.dashboard {
  display: flex;
  background-color: #cccccc; /* Light gray color */
  height: 100vh; /* sets background color to cover height of viewport */
  overflow: auto; /* covers everything when extra content extends screen down */
}

.purchases-section {
  flex: 1; /* Takes up 50% of the available space */
}

.holdings-section {
  flex: 1; /* Takes up 50% of the available space */
}
